main {
  background-color: pink;
  margin-top: 48px;
}

.container {
  padding: 2em; /* 2 x current font size (20px) = 40px padding all around */
  max-width: 1200px; /* for big/tiny monitors; it will TRY to take up 1200px, but if it can't it'll be reduced */
  margin: 0 auto; /* centered in page */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-style: italic;
}

h1,
h2,
p {
  font-family: novecento-sans-narrow, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.quote {
  border-left: white 5px solid;
  padding-left: 1em;
}

img {
  width: 100%;
  border-radius: 1em;
}

.flex-container-center {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  padding: 1em;
  flex: 50%;
}

.flex-item-right {
  padding: 1em;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1280px) {
  .flex-container {
    flex-direction: column;
  }
}
